body {
    background-color:blanchedalmond;
}

li{
    display: inline;
    background-color: violet;
    border: 1px 10px solid ;
}

nav, div{
    background-color: aliceblue;
    margin: 1%;
}

div{
    box-shadow: 10px 10px grey;
    padding: 1%;
}

img{
    margin: 1%;
}

.flx{
    display: flex;
}

footer p{
    text-align: center;
}