body {
    background-color:blanchedalmond;
}

li{
    display: inline;
    background-color: violet;
    padding: 5px;
    margin-left: 3px;
}

a:link{
    list-style-type: none;
}


nav, #div1{
    background-color: aliceblue;
    margin: 1%;
}

#div1{
    box-shadow: 10px 10px grey;
    padding: 1%;
}

img{
    margin: 1%;
}

.cadre{
    display: flex;
}

.souscadre2{
    margin:1%;
}
footer p{
    text-align: center;
}